body {
    /*background-color: #fffdf5;*/
    /*background-color: #fffae5;*/
}

.about_price_header {
    min-height: 30vh;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.9) 40%, rgba(255, 255, 255, 0.3) 75%), url("../images/1.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    padding: 15px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    align-content: center;
}

.about_price_header_sud {
    min-height: 30vh;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.9) 40%, rgba(255, 255, 255, 0.3) 75%), url("../images/sud4.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    padding: 15px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    align-content: center;
}


/*Список с точками*/
.marked_list li {
    list-style: disc;
}

/*ОТСУП БЛОК*/
.otstup_zagolovok {
    margin: 25px 0;
}


.about_price_heading {

    color: var(--main-yellow);
    margin: auto 0;
    max-width: 40vw;
    text-align: justify;
    font-weight: 600;
}

.about_price_main {
    display: flex;
    flex-direction: column;
    gap: 30px 0;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 35px;
    grid-auto-flow: row;
}


.arguments {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 35px;
    grid-row-gap: 0px;
}

.arguments__item {
    background: var(--main-yellow);
    min-height: 25vh;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*text-align: justify;*/
    gap: 15px 0;
    padding: 15px;
}

@media (max-width: 780px) {
    .arguments {
        display: grid;
        grid-template-columns: repeat(1, 4fr);
        grid-template-rows: 4fr;
        grid-column-gap: 0px;
        grid-row-gap: 25px;
    }

    .welcome_txt {
        max-width: 100%;
        text-align: justify;
        font-weight: 600;
    }
}