/*@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');*/


:root {
    --main-yellow: #fbb512;
    --main-dark: #3e3e3e;
    --main-white: #ffffff;
    --hover-yellow: #e6a400;
}


*,
*::after,
*::before {
    box-sizing: border-box;
}

/*TYPOGRAPHY*/


html {
    font-size: 16px;
    scroll-behavior: smooth;
}

p {
    font-size: 1em;
}

.fredericka {
    font-family: "Fredericka the Great", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 71px;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Open Sans", sans-serif;
    line-height: 1.15;
}

h1,
.text-size-h1 {
    font-weight: 700;
    margin-top: 0;
    font-size: 3.05em;
}

h2,
.text-size-h2 {
    font-size: 2.44em;
}

h3,
.text-size-h3 {
    font-size: 1.95em;
}

h4,
.text-size-h4 {
    font-size: 1.56em;
}

h5,
.text-size-h5 {
    font-size: 1.25em;
}

.text-caption {
    font-size: 0.8em;
}

small,
.text-small {
    font-size: 0.64em;
}


body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--main-dark);
    line-height: 1.65;
}

a {
    text-decoration: none;
}

/*РАЗМЕР КНОПКИ*/

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    font-size: 24px;
    color: #fff;
    background: var(--main-dark);
    padding: 1px 10px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
}

.back-to-top:hover {
    background: #333;
    text-decoration: none;
}

.container {
    max-width: 1440px;
    padding: 0 10px;
    margin: 0 auto;
}

/*HEADER TOP*/

.bez_dop_show_mobile{
    display: none;
}

.header {
    margin-bottom: 45px;
}

.header_main_page{
    /*margin-bottom: 45px;*/
    /*min-height: 100vh;*/
}
.header_allservice_page {
    margin-top: 10px;
}


.header__top-inner {
    padding-top: 15px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logobox {
    display: flex;
    align-items: center;
    gap: 10px;
}

.red-tag {
    color: #fff;
    padding: 3px 4px 2px;
    background-color: #de2e43;
    font-weight: 500;
}

.logo {
    max-width: 200px;
}

.logo__img {
    filter: invert(85%) sepia(34%) saturate(4872%) hue-rotate(350deg) brightness(102%) contrast(97%);
}

.header__nav-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nav-menu {
    display: flex;
    align-items: center;
}

.lang-item {
    margin-right: 15px;
    margin-left: 15px;
    padding: 0 0 9px 0;
    color: var(--main-dark);
    font-weight: bold;
    font-size: 16px;
    line-height: 14px;
    letter-spacing: 0.6px;
    /*transition: all .3s;*/
}

.lang-item:hover {
    color: var(--main-yellow);
    border-bottom: 2px solid var(--main-yellow);
}

.menu__list {
    display: flex;
}

.menu__list-item img {
    width: 24px;
    height: 24px;
    margin: 0 15px;
}

.menu__list-link {
    margin-right: 20px;
    padding: 0 0 9px 0;
    color: var(--main-dark);
    font-weight: bold;
    font-size: 16px;
    line-height: 14px;
    letter-spacing: 0.6px;


    border: none;
    outline: none;


    background-color: inherit;


}

.icons {
    display: flex;
    justify-content: center;
}

.contacts .icons {
    display: flex;
    justify-content: flex-start;
}

.icons a {
    margin: 0 10px;
}

.icons img {
    filter: invert(24%) sepia(7%) saturate(5%) hue-rotate(314deg) brightness(92%) contrast(94%);
    width: 28px;
    height: 28px;
    transition: transform 0.3s;
}


.icons a:hover img {
    transform: scale(1.2);
    filter: invert(85%) sepia(34%) saturate(4872%) hue-rotate(350deg) brightness(102%) contrast(97%);
}

.nav-menu__callback {
    padding-left: 15px;
}

.btn {
    font-weight: 500;
    font-size: 17px;
    color: #fff;
    background: linear-gradient(90deg, var(--main-yellow) 0%, var(--main-yellow) 100%);
    padding: 5px 10px;
    border: solid var(--main-yellow) 2px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-radius: 50px;
    transition: 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    /*text-transform: lowercase;*/
}

.btn:hover {
    font-weight: 500;
    transition: 1000ms;
    padding: 10px 20px;
    transform: translateY(-0px);
    background: linear-gradient(90deg, var(--main-yellow) 0%, var(--main-yellow) 100%);
    color: var(--main-dark);
    border: solid 2px var(--main-dark);
}

/*КНОПКА ЗАКАЗА*/

.btn_rotate {
    position: fixed;
    bottom: 80px;
    right: 20px;
    display: none;
    letter-spacing: -1px;
    line-height: 1.2;
    font-weight: 500;
    font-size: 17px;
    color: #fff;
    background: linear-gradient(90deg, var(--main-yellow) 0%, var(--main-yellow) 100%);
    padding: 5px 10px;
    border: solid var(--main-yellow) 2px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-radius: 50px;
    cursor: pointer;
    z-index: 1000;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.btn_rotate:hover {
    font-weight: 500;
    transition: 1000ms;
    padding: 7px 12px;
    background: linear-gradient(90deg, var(--main-yellow) 0%, var(--main-yellow) 100%);
    color: var(--main-dark);
    border: solid 2px var(--main-dark);
}

/*.header__content{*/
/*    background: #fafafa no-repeat center center;*/
/*    background-size: cover;*/
/*}*/

.header__content-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    /*min-height: calc(100vh - 119px);*/
}


.header__content-img {
    /*background-image: linear-gradient(90deg, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 0.9) 20%, rgba(255, 255, 255, 0) 35%), url("../images/main-img2.png");*/
    /*background-image: url("../images/test_background.png");*/
    /*background-repeat: no-repeat;*/
    /*background-position: center center;*/
    /*background-size: 140%;*/
    min-width: 50%;
    /*min-height: calc(100vh - 119px);*/
    /*position: relative;*/
}

/*.header__content-img::after {*/
/*    position: absolute;*/
/*    content: " ";*/
/*    background-size: cover;*/
/*    background: linear-gradient(rgb(244 152 173 / 0) 10%, var(--main-yellow) 100%);*/
/*    margin-left: 50%;*/
/*    width: 30%;*/
/*    min-height: calc(100vh - 119px);*/
/*}*/

.header__subtitle {
    font-size: 18px;
    /*text-indent: 9%;*/
    /*text-align: justify;*/
}

/*НОВЫЕ УСЛУГИ*/

.services-section {
    padding: 40px 20px;
    text-align: center;
}

.section-title {
    font-size: 2em;
    margin-bottom: 20px;
    color: #000;
}

.services-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.service-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.service-card ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
}
/*.service-card ul li {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    gap: 10px;*/
/*    margin-bottom: 5px;*/
/*}*/
.service-card ul li i {
    color: #fbb512; /* Цвет стрелочки */
}

.icon {
    font-size: 3em;
    color: #fca311;
    margin-bottom: 10px;
}

.service-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #fca311;
}

.service-description {
    font-size: 1em;
    line-height: 1.5;
    /*margin-bottom: 10px;*/
}

.service-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    /*align-items: flex-start;*/
}

.service-list li {
    margin: 5px 0;
}

.service-list li a {
    text-decoration: none;
    color: var(--main-dark);
    transition: color 0.3s ease;
}

.service-list li a:hover {
    color: var(--main-yellow);
}

@media (min-width: 768px) {
    .services-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1024px) {
    .services-container {
        grid-template-columns: 1fr 1fr ;
    }
}

/*КОМАНДА*/

.team-section {
    text-align: center;
    padding: 50px 20px;
    /*background-color: #ffffff;*/
}

.team-section h2 {
    font-size: 2.5em;
    color: var(--main-dark);
    margin-bottom: 30px;
}

.team-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
}

.team-card {
    width: 300px;
    height: 400px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.team-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.team-card img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-bottom: 15px;
}

.team-card h3 {
    font-size: 1.5em;
    color: var(--main-dark);
    margin: 10px 0;
}

.team-card p {
    font-size: 1em;
    color: #777;
    margin: 5px 0;
}

.team-card .social-icons {
    margin-top: 15px;
}

.team-card .social-icons a {
    margin: 0 10px;
    color: var(--main-dark);
    font-size: 1.2em;
    transition: color 0.3s;
}

.team-card .social-icons a:hover {
    color: var(--main-yellow);
}

/* Адаптивный дизайн */
@media (max-width: 1024px) {
    .team-card {
        width: 300px;
        height: 400px;
    }
}

@media (max-width: 768px) {
    .team-card {
        width: 100%;
        max-width: 400px;
        height: 450px;
    }
}


/*СЛАЙДЕР*/

.splide__slide_content_text .header__title {
    text-align: center;
}
.splide__slide{
    /*min-height: calc(100vh - 119px);*/
    /*background: forestgreen;*/


}

.splide__slide_content_1{
    display: flex;
    align-items: center;
    height: 100%;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 0%), url("../images/temp/dok1С.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.splide__slide_content_2{
    display: flex;
    /*margin-top: 200px;*/
    align-items: center;
    justify-content: space-between;
    height: 100%;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 0%), url("../images/temp/fun1с.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.splide__slide_content_3{
    display: flex;
    /*margin-top: 200px;*/
    align-items: center;
    justify-content: space-between;
    height: 100%;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 0%), url("../images/temp/famс.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.splide__slide_content_4{
    display: flex;
    /*margin-top: 200px;*/
    align-items: center;
    justify-content: space-between;
    height: 100%;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 0%), url("../images/temp/stud1С.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.splide__slide_content_text{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-left: 10%;
}

/*.hero {*/
/*    background: url('../images/temp.jpg') center/cover no-repeat;*/
/*    height: 100vh;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    color: #ffffff;*/
/*    position: relative;*/
/*}*/

/*.hero::before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    background: rgba(0, 0, 0, 0.5); !* Темный слой для контраста текста *!*/
/*}*/

/*ТЕКСТ НА СЛАЙДЕРЕ НА ВСЕХ УСЛУГАХ*/

.hero-content {
    position: relative;
    text-align: left;
    max-width: 600px;
    padding: 20px;
}

/* Стиль для основного заголовка */
.hero-title {
    font-size: 2em; /* Увеличен размер заголовка для большего акцента */
    font-weight: 800;
    margin: 15px 0;
    color: var(--main-white);
    line-height: 1.4;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Добавлен теневой эффект для лучшего контраста */
}

/* Стиль для подзаголовка */
.hero-subtitle {
    font-size: 1em;
    margin-bottom: 25px;
    color: var(--main-white);
    font-weight: 300;
    max-width: 550px; /* Ограничение ширины для улучшения читаемости */
    line-height: 1.4;
}

/* Мобильная адаптация */
@media (max-width: 768px) {
    .hero-content {
        padding: 10px;
        max-width: 100%; /* Полная ширина для мобильных */
    }

    .hero-title {
        font-size: 1.5em; /* Уменьшение размера заголовка на мобильных */
        line-height: 1.3;
    }

    .hero-subtitle {
        font-size: 0.9em; /* Уменьшение размера подзаголовка для лучшей читаемости */
        margin-bottom: 20px;
    }

    .hero-btn {
        padding: 8px 15px; /* Уменьшение отступов кнопки */
        font-size: 0.9em; /* Уменьшение размера текста для мобильных */
    }

    .hero-btn::after {
        font-size: 1em; /* Уменьшение размера стрелки для мобильных */
    }
}

/* Адаптация для небольших экранов, таких как телефоны */
@media (max-width: 480px) {
    .hero-title {
        font-size: 1.2em; /* Еще большее уменьшение заголовка */
    }

    .hero-subtitle {
        font-size: 0.85em;
    }

    .hero-btn {
        padding: 6px 10px; /* Уменьшение кнопки для удобства */
        font-size: 0.85em;
    }

    .hero-btn::after {
        font-size: 0.9em;
    }
}

/* Кнопка */
.hero-btn {
    display: inline-block;
    padding: 5px 15px;
    background: var(--main-yellow);
    color: var(--main-dark);
    text-decoration: none;
    /*font-weight: bold;*/
    width: auto; /* Сохраняет ширину кнопки автоматически в зависимости от текста */
    max-width: fit-content; /* Ограничивает кнопку по размеру контента */
    /*text-transform: uppercase;*/
    border-radius: 50px; /* Округленные углы для более современного стиля */
    /*transition: all 0.3s ease-in-out;*/
    /*box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); !* Добавлен теневой эффект для выделения кнопки *!*/
}

.hero-btn::after {
    content: '➔'; /* Символ стрелки */
    font-size: 1.2em; /* Размер стрелки */
    margin-left: 10px; /* Отступ слева от текста кнопки */
    position: relative; /* Относительное позиционирование для подстраивания под текст */
    transition: transform 0.3s ease; /* Плавная анимация движения стрелки */
}

/* Анимация появления текста */
.hero-content > * {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-in-out forwards;
}

.hero-content > *:nth-child(1) { animation-delay: 0.3s; }
.hero-content > *:nth-child(2) { animation-delay: 0.5s; }
.hero-content > *:nth-child(3) { animation-delay: 0.7s; }
.hero-content > *:nth-child(4) { animation-delay: 0.9s; }

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/*HEADINGS*/
.heading-2 {
    text-align: center;
}
.container .heading-start{
    text-align: start;
}

.highlight-word {
    color: var(--main-yellow);
}


.heading-margin {
    margin: 25px 0;
}


/*SERVICE*/

.service {
    padding-top: 40px;
    /*margin-bottom: 70px;*/
}

.features {
    padding-top: 65px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 0;
    min-height: 80vh;
    align-items: stretch;
}

/*NEW CARDS*/

.cards {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px 20px;
    flex-wrap: wrap;
}

.card {
    /*             background-color: #192a31; */
    min-height: 120px;
    color: var(--main-dark);
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 32%;
    min-width: 32%;
    justify-content: space-between;
    transition: transform 0.3s;

}

.card:hover {
    transform: translateY(-5px);
    /*background-color: var(--main-yellow);*/
    background-color: #F7D225;
    /*filter: invert(23%) sepia(14%) saturate(2%) hue-rotate(4deg) brightness(93%) contrast(91%);*/

}

.card-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: #314a52;*/
    /*border-radius: 50%;*/
    /*width: 50px;*/
    /*height: 50px;*/
}

.card-icon img {
    min-width: 50px;
    min-height: 50px;
    filter: invert(85%) sepia(34%) saturate(4872%) hue-rotate(350deg) brightness(102%) contrast(97%);
    /*filter: invert(96%) sepia(95%) saturate(1324%) hue-rotate(333deg) brightness(99%) contrast(96%);*/
}


.card-content {
    margin-left: 20px;
    flex-grow: 1;
}

.card-content h3 {
    margin: 0;
    font-size: 16px;
}

.card-content p {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
}

.card-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;

}

.card-arrow img {
    min-width: 40px;
    min-height: 40px;
    /*filter: invert(85%) sepia(34%) saturate(4872%) hue-rotate(350deg) brightness(102%) contrast(97%);*/
    filter: invert(23%) sepia(14%) saturate(2%) hue-rotate(4deg) brightness(93%) contrast(91%);
}

/*.card-arrow:hover {*/
/*    background-color: #d3d3d3;*/
/*}*/

/*NEW CARDS STOP*/

.feature {
    display: flex;
    flex-direction: column;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.2));
    border-radius: 3px;
    transition: transform 0.1s;
}

.feature h4 {
    margin-bottom: 15px;
}

.feature:hover {
    transform: scale(1.1);
}

.feature__img {
    margin: 0 0 20px 0;
    width: 40px;
    height: 40px;
    filter: invert(85%) sepia(34%) saturate(4872%) hue-rotate(350deg) brightness(102%) contrast(97%);
}

.feature__text {
    text-align: justify;
}

/*PRICE*/

.price {
    margin-bottom: 3rem;
}

.price__main {
    /*background-color: #dff9fb;*/
    /*min-height: 100vh;*/
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.price__heading {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
    color: var(--main-yellow);
}

.price__text {
    text-align: left;
    margin-top: 2rem;
}

.price__link {
    color: var(--main-dark);
}

.pricing {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pricing .plan {
    background-color: #fff;
    padding: 2.5rem;
    margin: 12px;
    border-radius: 5px;
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
    max-width: 30%;
}

.pricing .plan h2 {
    font-size: 22px;
    margin-bottom: 12px;
}

.pricing .plan .price {
    margin-bottom: 1rem;
    font-size: 30px;
}

.pricing .plan ul.features_price {

    list-style-type: none;
    text-align: left;
}

.pricing .plan ul.features_price li {
    margin: 8px;
}

.pricing .plan ul.features_price li .fas {
    margin-right: 4px;
}

.pricing .plan ul.features_price li .fa-check-circle {
    color: var(--main-yellow);
}

.pricing .plan ul.features_price li .fa-question-circle {
    color: var(--main-yellow);
}

.pricing .plan button {
    border: none;
    width: 100%;
    padding: 12px 35px;
    margin-top: 1rem;
    background-color: var(--main-yellow);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.pricing .plan.popular {
    border: 2px solid var(--main-yellow);
    position: relative;
    transform: scale(1.08);
}

.pricing .plan.popular span {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--main-yellow);
    color: var(--main-dark);
    padding: 4px 20px;
    font-size: 18px;
    border-radius: 5px;
    font-weight: 500;
}

.pricing .plan:hover {
    box-shadow: 5px 7px 67px -28px rgba(0, 0, 0, 0.37);
}


/*ADVANTAGES*/
.advantages__list-item {
    list-style-image: url("../images/square_full_icon.png");
}

.advantages__content {
    margin-top: 50px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    /*min-height: 33vh;*/
}

.warranty__main {
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.warranty__main_txt p {
    max-width: 53vw;
}

.warranty__img {
    max-width: 300px;
}

.plane_text {
    max-width: 45vw;
    /*text-indent: 9%;*/
    text-align: justify;
}

.checked {
    color: orange;
}

/*TESTIMONIALS*/

.testimonials {
    margin-bottom: 50px;
    min-height: 40vh;
}

.testimonial-item {
    display: flex;
    flex-direction: column;
    max-width: 20vw;
    margin: 30px 0 30px 30px;
}

.testimonial-item__up {
    display: flex;
    margin-bottom: 20px;
}

.testimonial-item__down {
    /*text-indent: 9%;*/
    text-align: justify;
}

.testimonial-avatar {
    width: 75px;
    height: 75px;
    border-radius: 100px;
    margin: 0 30px;
    /*filter: invert(85%) sepia(34%) saturate(4872%) hue-rotate(350deg) brightness(102%) contrast(97%);*/
}

.testimonial-author-info {
    line-height: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


/*PARTNERS*/

.partners {
    margin-bottom: 50px;
}

.partners__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.partners__items img {
    margin: 25px;
    max-width: 220px;
    max-height: 220px;
}


/*FORM*/

.form_margin_btn{
    margin-bottom: 35px;
}


.main-block {
    background-color: var(--main-yellow);
    margin-bottom: 60px;
    padding-bottom: 50px;
}

.form__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 40vw;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.fname, .email, .phone, .promocode {
    min-width: 30vw;
    background-color: var(--main-yellow);
    border: none;
    border-bottom: 2px solid white;
    color: white;
    margin-bottom: 25px;
}

.message {
    min-width: 30vw;
    background-color: var(--main-yellow);
    border: 2px solid white;
    border-radius: 5px;
    margin-bottom: 25px;
}

.form-heading {
    margin: 35px 0;
    color: white;
}


.btn-white {
    border: 2px solid white;
    border-radius: 5px;
}

::placeholder {
    color: white;
    opacity: 1; /* Firefox */
}

.soglasie {
    text-decoration: underline;
    color: var(--main-dark);
}

.checkbox_form {
    margin-top: 10px;
}

select.city, select.service_select {
    background-color: var(--main-yellow);
    border: none;
    border-bottom: 2px solid white;
    color: white;
    margin-bottom: 25px;
    min-width: 30vw;
}

@media (max-width: 780px) {
    select.city, select.service_select {
        min-width: 190px;
    }
}

/*CONTACTS*/

.map-item {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.contacts {
    display: flex;
    flex-direction: column;
    max-width: 30vw;
    justify-content: space-between;
}

p a {
    color: var(--main-dark)
}

/*MAP*/

.map {
    margin-bottom: 60px;
}

/*FOOTER*/
footer {
    background-color: var(--main-dark);
}

.footer__logo {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    min-height: 15vh;
}

/*FAQ*/
.faq {
    margin-bottom: 35px;
}

.accordion {
    background-color: #eee;
    color: var(--main-dark);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    /*margin-bottom: 15px;*/
}

.active {
    background-color: #ccc;
}

.accordion:hover {
    background-color: var(--main-yellow);

}

.accordion:after {
    content: '\002B';
    color: var(--main-dark);
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-bottom: 15px;
}

@media (min-width: 780px) {
    .desktop_hide {
        display: none;
    }
    .menu .desktop_hide_special{
        color: white;
        background: white;
    }
    .menu .desktop_hide_special:hover{
        color: white;
        background: white;
        cursor: default;
    }
}


@media (max-width: 780px) {
    .header__content-img {
        display: none;
    }

    /*.header__content-inner {*/
    /*    min-height: 40vh;*/
    /*}*/

    .menu__list {
        flex-direction: column;
    }

    .testimonial-item {
        max-width: 30vw;
        /*margin-left: 150px;*/
    }

    .testimonial-item__up {
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .partners__items {
        justify-content: center;
    }

    .contacts {
        min-width: 90vw;
        flex-wrap: nowrap;
    }

    .header__nav-inner {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        text-align: center;
    }

    .mobile_hide {
        display: none;
    }

    .menu {
        margin-bottom: 10px;
    }

    .features {
        padding-top: 65px;
        display: grid;
        grid-template-columns: repeat(2, 40vw);
        grid-template-rows: repeat(3, 1fr);
        /*grid-column-gap: 50px;*/
        grid-row-gap: 0;
        min-height: 80vh;
        align-items: stretch;
    }

    /*NEW CARDS*/
    .card {
        max-width: 100%;
    }

    /*TITLE без спец  шрифта*/
    /*    .fredericka{*/
    /*display: none;*/
    /*    }*/
    .advantages__content {
        flex-direction: column;
        justify-content: center;
    }

    .plane_text {
        max-width: 100vw;
        margin-bottom: 15px;
    }

    .advantages__list-item {
        margin-left: 25px;
    }

    .heading-4 {
        font-size: 1.36em;
    }

    .warranty__main_txt p {
        max-width: 100vw;
    }

    .new_price_feature {
        display: flex;
        align-items: center;
        margin: 10px 0;
        flex-wrap: wrap;
    }

    .transaction-fee {
        flex: 1;
        padding: 10px;
        flex-wrap: wrap;
    }

    .pricing-content {
        display: flex;
        justify-content: center;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-width: 800px;
        width: 100%;
        flex-direction: column;
        /*align-items: center;*/
    }

    .drop_menu_hide_mobile {
        display: none;
    }

    .bez_dop_show_mobile{
        display: block;
    }

}

.row {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #24262b;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col ul {
    padding: 0;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    /*text-transform: capitalize;*/
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: var(--main-yellow);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a, gpay {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

/*responsive*/
@media (max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}


/*PRO FIRMY Партнерам*/

body .hero_first {
    height: calc(100vh - 119px);
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 0%), url('../images/partners/111.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}

body .hero_2 {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 0%), url('../images/partners/11.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}

body .hero_3 {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 0%), url('../images/partners/22.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}

body .hero_4 {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 0%), url('../images/partners/33.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}

body .hero_5 {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 0%), url('../images/partners/44.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}

body .hero_6 {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 0%), url('../images/partners/55.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}


.hero {
    height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 20px;
    /*position: relative;*/
    /*margin-bottom: 20px;*/
    /*z-index: -2;*/
}

.hero_item {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

/*.hero::before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background-color: rgba(0, 0, 0, 0.5);*/
/*    z-index: -1;*/
/*}*/

/*.hero h1 {*/
/*    font-size: 46px;*/
/*    margin: -20px 0 20px;*/
/*}*/

/*.hero p {*/
/*    font-size: 20px;*/
/*    letter-spacing: 1px;*/
/*    margin-bottom: 15px;*/
/*}*/

.partners_text {
    color: white;
    max-width: 30vw;
    margin-bottom: 15px;
    text-align: justify;
}

/*КОНТАКТЫ*/
.worktime__main {
    margin-bottom: 25px;
    text-align: justify;
}


.link {
    color: var(--main-yellow);
    cursor: pointer;
    font-weight: 400;
    text-decoration: none;
}

.link--arrowed {
    display: inline-block;
    height: 2rem;
    line-height: 2rem;
}

.link--arrowed .arrow-icon {
    position: relative;
    top: -1px;
    transition: transform 0.3s ease;
    vertical-align: middle;
}

.link--arrowed .arrow-icon--circle {
    transition: stroke-dashoffset 0.3s ease;
    stroke-dasharray: 95;
    stroke-dashoffset: 95;
}

.link--arrowed:hover .arrow-icon {
    transform: translate3d(5px, 0, 0);
}

.link--arrowed:hover .arrow-icon--circle {
    stroke-dashoffset: 0;
}


.new_price_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.pricing-header {
    text-align: center;
    margin-bottom: 20px;
}

.pricing-header h1 {
    margin: 0;
    font-size: 2em;
}

.pricing-content {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    /*align-items: center;*/
}

.transaction-fee {
    flex: 1;
    padding: 10px;
    /*flex-wrap: wrap;*/
}

.transaction_fee_text {
    font-size: 2em;
    font-weight: bold;
    color: var(--main-yellow);
}

.transaction_fee_small_tex {
    font-size: 0.8em
}

.transaction-fee h2 {
    margin: 0 0 10px;
    font-size: 1.2em;
}

.transaction-fee p {
    margin: 5px 0;
}

.new_price_features {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.new_price_feature {
    display: flex;
    align-items: center;
    margin: 10px 0;
    /*flex-wrap: wrap;*/
}

.new_price_feature img {
    /*width: 45px;*/
    /*height: 45px;*/
    padding-top: 5px;
    margin-right: 10px;
    max-width: 65px;
    min-height: 65px;
    filter: invert(85%) sepia(34%) saturate(4872%) hue-rotate(350deg) brightness(102%) contrast(97%);
}

.new_price_feature span {
    font-size: 1em;
}

.cta-button {
    text-align: center;
    margin-top: 20px;
}

.cta-button a {
    background-color: var(--main-yellow);
    color: var(--main-dark);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.price_table {
    margin-bottom: 25px;
}


/* The dropdown container */
.dropdown {
    /*float: left;*/
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: var(--main-yellow);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 20%;
    /*left: 15%;*/
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Mega Menu header, if needed */
.dropdown-content .header {
    background: red;
    padding: 16px;
    color: white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 100%;
    padding: 10px;
    background-color: var(--main-yellow);
    min-height: 150px;
}

/* Style links inside the columns */
.column a {
    float: none;
    color: black;
    padding: 5px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 15px;
}

/* Add a background color on hover */
.column a:hover {
    background-color: var(--main-dark);
    color: white;
}

/* Clear floats after the columns */
.row_drop{
    background-color: var(--main-yellow);
}


.row_drop:after {
    content: "";
    display: table;
    clear: both;
}

.dropdown_header{
    padding: 0 0 10px 5px;
    font-size: 18px;
}

/*BLOG FILTER*/

.containerBlog {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.filterDiv {
    /*float: left;*/
    /*background-color: #2196F3;*/
    /*color: #ffffff;*/
    /*width: 100px;*/
    /*line-height: 100px;*/
    /*text-align: center;*/
    /*margin: 2px;*/
    display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

/* Style the buttons */
.btnBlog {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
}

/* Add a light grey background on mouse-over */
.btnBlog:hover {
    background-color: #ddd;
}

/* Add a dark background to the active button */
.btnBlog.activeBlog {
    background-color: #666;
    color: white;
}

/*BLOG CARD*/

.blog-card {
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
    margin: 1rem 10px 1.6% auto;
    background: #fff;
    line-height: 1.4;
    font-family: sans-serif;
    border-radius: 5px;
    overflow: hidden;
    z-index: 0;

}
.blog-card a {
    color: inherit;
}
.blog-card a:hover {
    color: var(--main-yellow);
}
.blog-card:hover .photo {
    transform: scale(1.3) rotate(3deg);
}
.blog-card .meta {
    position: relative;
    z-index: 0;
    height: 200px;
}
.blog-card .photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: transform 0.2s;
}
.blog-card .details,
.blog-card .details ul {
    margin: auto;
    padding: 0;
    list-style: none;
}
.blog-card .details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    transition: left 0.2s;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 10px;
    width: 100%;
    font-size: 0.9rem;
}
.blog-card .details a {
    -webkit-text-decoration: dotted underline;
    text-decoration: dotted underline;
}
.blog-card .details ul li {
    display: inline-block;
}
.blog-card .details .author:before {
    font-family: FontAwesome;
    margin-right: 10px;
    content: "";
}
.blog-card .details .date:before {
    font-family: FontAwesome;
    margin-right: 10px;
    content: "";
}
.blog-card .details .tags ul:before {
    font-family: FontAwesome;
    content: "";
    margin-right: 10px;
}
.blog-card .details .tags li {
    margin-right: 2px;
}
.blog-card .details .tags li:first-child {
    margin-left: -4px;
}
.blog-card .description {
    padding: 1rem;
    background: #fff;
    position: relative;
    z-index: 1;
}
.blog-card .description h1,
.blog-card .description h2 {
    font-family: Poppins, sans-serif;
    color: var(--main-dark);
}
.blog-card .description h1 {
    line-height: 1;
    margin: 0;
    font-size: 1.7rem;
}
.blog-card .description h2 {
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #a2a2a2;
    margin-top: 5px;
}
.blog-card .description .read-more {
    text-align: right;
}
.blog-card .description .read-more a {
    color: var(--main-yellow);
    display: inline-block;
    position: relative;
}
.blog-card .description .read-more a:after {
    content: "";
    font-family: FontAwesome;
    margin-left: -10px;
    opacity: 0;
    vertical-align: middle;
    transition: margin 0.3s, opacity 0.3s;
}
.blog-card .description .read-more a:hover:after {
    margin-left: 5px;
    opacity: 1;
}
.blog-card p {
    position: relative;
    margin: 1rem 0 0;
}
.blog-card p:first-of-type {
    margin-top: 1.25rem;
}
.blog-card p:first-of-type:before {
    content: "";
    position: absolute;
    height: 5px;
    background: var(--main-yellow);
    width: 35px;
    top: -0.75rem;
    border-radius: 3px;
}
.blog-card:hover .details {
    left: 0%;
}
@media (min-width: 640px) {
    .blog-card {
        flex-direction: row;
        max-width: 700px;
    }
    .blog-card .meta {
        flex-basis: 40%;
        height: auto;
    }
    .blog-card .description {
        flex-basis: 60%;
    }
    .blog-card .description:before {
        transform: skewX(-3deg);
        content: "";
        background: #fff;
        width: 30px;
        position: absolute;
        left: -10px;
        top: 0;
        bottom: 0;
        z-index: -1;
    }
    .blog-card.alt {
        flex-direction: row-reverse;
    }
    .blog-card.alt .description:before {
        left: inherit;
        right: -10px;
        transform: skew(3deg);
    }
    .blog-card.alt .details {
        padding-left: 25px;
    }
}

/*.cardContainer{*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*}*/


.sidepanel  {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 150vh;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidepanel a:hover {
    color: #f1f1f1;
}

.sidepanel .closebtn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    z-index: 9999;
}

.openbtn {
    background-color: #111;
    border: none;
    position: fixed;
    top: 20px;
    right: 20px;
    display: none;
    font-size: 24px;
    color: #fff;
    background: var(--main-dark);
    padding: 1px 10px;
    border-radius: 5px;
    cursor: pointer;
    /*z-index: 1000;*/
}

.openbtn:hover {
    background-color:#444;
}


/*FINANCIAL SERVICE*/
.financial-services-container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 40px;
    background-color: #ffffff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

.financial-services-container h2 {
    text-align: center;
    color: var(--main-yellow);
    font-weight: 700;
    margin-bottom: 20px;
}

.financial-services-container p {
    text-align: center;
    color: #555;
    font-size: 1.1em;
    margin-bottom: 40px;
}

.service-category {
    margin-top: 40px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.service-category.visible {
    opacity: 1;
    transform: translateY(0);
}

.service-category h3 {
    color: var(--main-yellow);
    margin-bottom: 15px;
    font-weight: 500;
    border-left: 5px solid var(--main-yellow);
    padding-left: 15px;
}

.service-category ul {
    list-style-type: none;
    padding-left: 0;
}

.service-category ul li {
    background: url('../images/h10rdjgv7ym29xm8ek.svg') no-repeat left center;
    background-size: 16px;
    padding-left: 30px;
    margin-bottom: 12px;
    color: #333;
    font-size: 1em;
    cursor: pointer;
}

.service-category ul li:hover {
    color: var(--main-yellow);
}

@media (max-width: 768px) {
    .financial-services-container {
        padding: 20px;
    }

    .financial-services-container h2, .financial-services-container p {
        font-size: 1.3em;
    }

    .service-category h3 {
        font-size: 1.2em;
    }

    .service-category ul li {
        font-size: 1em;
    }
}



.service-item {
    /*background-color: var(--white-color);*/
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    position: relative;
}

.service-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.service-item h3 {
    margin-top: 0;
    color: var(--text-color);
}

.service-item p {
    display: none;
    margin-top: 10px;
}

.service-item.open p {
    display: block;
}

.dropdown-arrow {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5em;
    color: var(--main-dark);
    transition: transform 0.3s;
}

.service-item.open .dropdown-arrow {
    transform: translateY(-50%) rotate(180deg);
}

.package-item {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    margin-top: 40px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    color: var(--main-dark);
    transition: transform 0.3s, box-shadow 0.3s;
}

.package-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

.package-item h3 {
    margin-top: 0;
    font-size: 2em;
}

.package-item ul {
    list-style-type: disc;
    padding: 0;
}

.package-item ul li {
    margin: 10px 0;
    background-color: rgba(255, 255, 255, 0.3);

    border-radius: 5px;
}

.package-item h4 {
    margin-top: 20px;
    color: var(--main-dark);
}

@media (max-width: 768px) {
    .header h1 {
        font-size: 1.5em;
    }

    .service-item {
        padding: 15px;
    }

    .package-item {
        padding: 20px;
    }
    .dropdown-arrow {

        font-size: 1.0em;

    }
}

@media (max-width: 480px) {
    .header {
        padding: 30px 10px;
    }

    .header h1 {
        font-size: 1.8em;
    }

    .services h2 {
        font-size: 1.2em;
    }

     .package-item h3 {
        font-size: 1.1em;
    }

    .dropdown-arrow {

        font-size: 1.0em;

    }
}

